# Build artifacts
*.class
.classpath
.gradle
.project
/.settings/
/**/build/

# Package files
*.jar
*.war
*.ear

# Gradle
!/gradle/wrapper/gradle-wrapper.jar

# JetBrains IDEs
/.idea/*
!/.idea/codeStyles
!/.idea/jsLinters
